body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $main_text_color;
}


.title {

    &_white {
        font-weight: 800;
        font-size: 5rem;
        line-height: 60px;
        letter-spacing: 10px;
        color: #FFFFFF;
    }

    animation: headerAnimation 2s 1 ease-in-out;
}

.subtitle {
    &_white {
        font-weight: 100;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 5px;
        color: #FFFFFF;

    }

    animation: subheaderAnimation 2s 1 ease-in-out;
}