body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $main_text_color;
}


.title {

    &_white {
        font-weight: 800;
        font-size: 5rem;
        line-height: 60px;
        letter-spacing: 10px;
        color: #FFFFFF;
        animation: headerAnimation 2s 1 ease-in-out;
    }



    &_gradient {
        text-transform: uppercase;
        text-align: center;
        animation: unset;
        font-weight: 800;
        font-size: 3.6rem;
        line-height: 4.3rem;
        letter-spacing: 1rem;
        background: $gradient-brown-light;
        background-clip: text;
        color: transparent;
        transition: all .4s;

        &:hover {
            transform: skewY(2deg) skewx(15deg) scale(1.1);
            backface-visibility: hidden;
            text-shadow: $h2-shadow;
        }

    }

    &__paragraph {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: .2rem;
        color: $main_text_color;
    }


}

.subtitle {
    &_white {
        font-weight: 100;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 5px;
        color: #FFFFFF;
        animation: subheaderAnimation 2s 1 ease-in-out;
    }


}

.paragraph {
    &__content {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        letter-spacing: .2rem;
        color: $main_text_color;

        &_center {
            text-align: center;
        }
    }
}