$main_text_color: #777777;
$bacground_color: #F7F7F7;
$brown-color-light: #BA8554;
$brown-color-dark: #A14F03;
$black: #000000;
$gradient-brown-black: linear-gradient(90deg, $brown-color-light 0%, $black 100%);
$gradient-brown-light: linear-gradient(90deg, #C3956A 3.65%, $brown-color-dark 100%);
$gradient-cards: linear-gradient(91.4deg, rgba(186, 133, 84, 0.7) 16.34%, rgba(0, 0, 0, 0.7) 98.8%);
$margin_vertical_big: 8rem;
$grid_width: 114rem;
$gutter_horisontal: 6rem;
$h2-shadow: 0 .4rem .4rem rgba($black, .25);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
$card-gradient: linear-gradient(156.85deg, #C3956A 3.65%, #A24F03 100%);
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 15px 40px rgba(0, 0, 0, 0.15);