.adventure {
    &__content {
        margin-top: 8rem;
        min-height: 73rem;
        background: $gradient-cards, url("../../img/cards/cards_bg.jpg") center center / cover no-repeat;
        transform: skewY(5deg);
    }



}

// .tours {
//     &__content {
//         padding-bottom: 5rem;
//     }
// }