.adventure {
    &__content {
        margin-top: 8rem;
        min-height: 73rem;
        background: $gradient-cards, url("../../img/cards/cards_bg.jpg") center center / cover no-repeat;
        transform: skewY(5deg);
    }

}



.feedback {
    &__container {
        position: relative;

    }
}

.book {
    &__container {
        padding: 10rem;
        background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
    }
}