.btn {
    width: 277px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    padding: 15px 40px;
    cursor: pointer;

    a {
        text-decoration: none;
    }
}