.title {

    &_white {
        font-weight: 800;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 10px;
        color: #FFFFFF;
    }
}

.subtitle {
    &_white {
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 5px;
        color: #FFFFFF;

    }
}