.adventure {

    &__container {
        padding-bottom: $margin_vertical_big;
    }

    &__row {
        transform: skewY(-5deg);
        padding: 21.5rem 0;
    }

    &__cards {}

    &__card {
        // max-width: 24rem;
        background-color: #FFFFFF;
        border-radius: .5rem;

        &:hover {
            transform: scale(1.1);
        }


    }
}


.card {
    padding: 2.5rem 2.3rem 3rem;

    &__img {
        background: $gradient-brown-light;
        background-clip: text;
        color: transparent;
        text-align: center;
        padding: 0 0 2.5rem 0;

        i {
            font-size: 6.3rem;
        }

    }

    &__header {}

    &__descr {}
}

// .icon-Globe {
//     width: 100%;
// }