.navigation {
    &__container{
        padding:  0;
    }
    
    // .navigation__toggle
    &__toggle {
        display: none;
    }
    // .navigation__button
    &__button {
        width: 7rem;
        height: 7rem;
        background-color: #FFFFFF;
        border-radius: 50%;
        position: fixed;
        right: 6rem;
        top: 5rem;
        z-index: 200;
        cursor: pointer;
    }
    // .navigation__background
    &__background {
        width: 5rem;
        height: 5rem;
        background: radial-gradient($brown-color-light, $brown-color-dark);
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 7rem;
        z-index: 100;
        transition: all .5s;

    }
    // .navigation__body
    &__body {
        height: 100vh;
        width: 100%;
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;
        display: none;
        transition: all .5s;

    }
    // .navigation__list
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
    }
    // .navigation__item
    &__item {
       text-align: center;
       &:not(:last-child){
            padding-bottom: 5rem;
       }
    }
    // .navigation__link
    &__link {
        &:link, &:visited{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 4rem;
            letter-spacing: .5rem;
            color: #FFFFFF;
            background: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
            background-size: 250%;
            padding: 1rem 2rem;
            transition: .9s all;
            display: inline-block;
        }
        &:hover, &:active{
            background-position: 100%;
            color: $brown-color-dark;
            transform: translateX(1rem);
        }
            

    }
    &__toggle:checked ~ &__background{
        transform: scale(80);

    }
    &__toggle:checked ~ &__body{
        display: block;
    }
    &__icon{
        position: absolute;
        display: block;
        width: 3rem;
        border-bottom: .2rem solid #000000;
        z-index: 300;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:before{
            content: "";
            position: absolute;
            display: block;
            width: 3rem;
            border-bottom: .2rem solid #000000;
            top: -.8rem;
            transition: all .2s;

        }
        &:after{
            content: "";
            position: absolute;
            display: block;
            width: 3rem;
            border-bottom: .2rem solid #000000;
            top: .8rem;
            transition: all .2s;

        }
    }
    &__button:hover &__icon::before{
        top: -1rem
    }
    &__button:hover &__icon::after{
        top: 1rem
    }
    &__toggle:checked + &__button &__icon{
        &, &::before, &:after{
            border: transparent;

        }
    }
    &__toggle:checked + &__button &__icon{
        &::before{
            transform: rotate(135deg);
            top: 0;
            border-bottom: .2rem solid #000000;
            

        }
    }
    &__toggle:checked + &__button &__icon{
        &::after{
            transform: rotate(-135deg);
            top: 0;
            border-bottom: .2rem solid #000000;

            

        }
    }

}
